<h1>Adresses à visiter Absolument</h1>

<%= link_to "retour", admins_root_path %>

<div class= "card-list sortable" data-url="<%= sort_admins_addresses_path %>">
  <% @addresses.each do |address| %>
    <%= render 'card', address: address %>
  <% end %>
</div>

