<h1>Adresses à visiter Absolument</h1>

<%= link_to "retour", admins_root_path %>

<div class= "card-list">
  <% @addresses.each do |address| %>
    <%= render "cards", site: address.site, sector: address.sector %>
  <% end %>
</div>

