<h1>Adresses à visiter Absolument</h1>

<%= link_to "retour", admins_root_path %>

<% @addresses.each do |address| %>
  <%= render "cards", site: address.site, sector: address.sector %>
<% end %>

<%
=begin%>
  <div><%= link_to "Editer", edit_admins_sector_site_path(address.sector, address.site) %> </div>
  <div><%= link_to "Supprimer", admins_sector_site_path(address.sector, address.site), method: :delete %> </div>

<%
=end %>
