<div class="container">
  <h1>Bienvenue sur votre guide touristique</h1>
  <p>Veuillez vous connecter sur le lien suivant pour accéder à l'application en tant qu'admin</p>
  <a href="http://localhost:3000/admins"></a>
</div>
