
var error_messages = `<%= j render "admins/shared/form_errors_messages" %>`;
var new_sector =
  `<tr>
    <td> <%= @sector.position %></td>
    <td> <%= @sector.name %> </td>
    <td> <%= @sector.city %> </td>
  </tr>`;

function refreshErrorMessages() {
  var element = document.getElementById('error_messages')
  element.innerHTML = "";
}

function addErrorMessages(html) {
  document.querySelector(".button").blur();
  var element = document.getElementById('error_messages')
  element.innerHTML = ""
  element.insertAdjacentHTML('beforeend', html);
}

function addSector() {
  document.getElementById('sectors').insertAdjacentHTML('beforeend', new_sector)
  document.querySelector(".button").blur();
}

function refreshForm() {
  document.getElementById("name").value = "";
  document.getElementById("city").value = "";
  document.getElementById("illustration").value = "";
  document.getElementById("description").value = "";
}

<% if @sector.errors.any? %>
  addErrorMessages(error_messages);
<% else %>
  refreshErrorMessages();
  addSector();
  refreshForm();
<% end %>
