li {
  cursor: pointer;
}

ul, li {
  list-style-type: none;
  padding: 0px !important;
}

label {
  margin-bottom: 0.5rem !important;
}

.image {
  width: 286px;
  max-height: 180px;
  object-fit: cover;
}

.card {
  margin-bottom: 50px;
}

.home-image {
  max-width:100%;
  height:auto;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px
}

.card-form {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navlinks {
  display: flex;
}


.site-form, .sector-form {
  max-width: 400px;
}

.search-form-button {
  margin-top: 23px;
  margin-left: 15px;
}

trix-toolbar {
  overflow-y: auto;
  max-height: 150px;
}

#sector_search {
  display: flex;

  flex-flow: nowrap;
  margin-bottom: 20px;
}

#sector_search div {
 margin-right: 10px;
}
