#item td {
  cursor: pointer;
}

.main {
  display: "flex";
  align-items: center;
}

#sector {
  flex-grow: 1;
}

.image {
  max-width: 200px;
  max-height: 200px;
}

ul {
  list-style-type: none;
}
