<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav navlinks">
      <%= link_to "Accueil", admins_root_path, class: "nav-item nav-link active" %>
      <% if current_admin %>
        <%= link_to "Se déconnecter", destroy_admin_session_path, class: "nav-item nav-link", method: :delete %>
      <% else %>
        <%= link_to "Se connecter", new_admin_session_path, class: "nav-item nav-link" %>
      <% end %>

    </div>
  </div>
</nav>
