<tr class="sector_detail">
  <td><%= sector.position %></td>
  <td><%= sector.name %></td>
  <td><%= sector.city %></td>
  <td>
    <%= link_to "Supprimer", admins_sector_path(sector), method: :delete, remote: true %>
  </td>
</tr>
