<h1>Bienvenue dans vos espace</h1>

<h2>Ajouter un quartier</h2>
<div id="sector">
  <%= render 'form' %>
</div>

<table id="sector_list" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Nom</th>
      <th scope="col">Ville</th>
    </tr>
  </thead>

  <tbody id="sectors">
    <% @sectors.each do |sector| %>
        <%= render "sector", sector: sector %>
    <% end %>
  </tbody>
</table>
